* {font-family: Lato, sans-serif, Share Tech Mono, Lucida Console;color: white;background-color: black;font-size: 105%;}

.nc {display: none;}

hr{margin: 0;}

body {margin: 1px;}
header {text-align: center;}
header h1 {font-family: Audiowide;margin: 0;word-wrap: break-word;}
header h1 a {font-family: Audiowide;margin: 0;word-wrap: break-word;text-decoration: none;}

#menu-button {display: none;}

.href-menu {text-shadow: white 0 0 1px;color: transparent;transition: 1.7s;}
.href-menu-selected{border-radius: 3px;animation: shine 1s;animation-direction: alternate-reverse;}
@keyframes shine{
	from{background-color: black;color: white;}
	to{background-color: white;color: black;}
}
.href-menu:hover {text-shadow: none;color: white;transition: 0.4s;}
.href-menu-selected:before{content: "<";}
.href-menu-selected:after{content: "/>";}

article/*, section*/{clear: both;padding: 5px 0 0 0;overflow: auto;height: auto;}

#iframe-left {display: none;}

h3.clickable {cursor: pointer;}

.subdir-visible-hidden {display: none;}
.subdir-hidden-visible {display: unset;}

.h3-p-list {margin-left: 3%;}

p {margin: 1px;}
article p {line-height: 170%;}
h3#zero{counter-reset: licznik;}
h3#zero:before{content: "[0] "}
h3#other:before{counter-increment: licznik;content: "[" counter(licznik) "] ";}
p#zero{counter-reset: licznik;}
p#zero:before{content: "[0] "}
p#other:before{counter-increment: licznik;content: "[" counter(licznik) "] ";}

.home{display: none;/*border:solid 1px white;padding-left: 1px;position: fixed;right: 1px;top: 500px;text-decoration: none;*/}

footer {clear: both;height: auto;color: white;background-color: black;position: fixed;bottom: 0; right: 0;width: 100%;border-top: 1px solid white;}
footer p {margin: 0 0 0 0;}
footer span img {vertical-align: bottom;}
footer p {font-size: 60%;}

.menu-content {display: none;z-index: 1;position: absolute;}
.menu-content button {color: black;background-color: white;}
.show {display: initial;}

#button-dos {color:white;background:black;}
#button-dos:hover {color: black;background: white;}
#button-nc {color:white;background-color:blue;}
#button-nc:hover {color:white; background: darkturquoise;}

.bottom-p {color: black;background-color: white;}

.skillbar {background-color:black;color:white;text-align:center;z-index: 1;font-family: Audiowide;}

@media screen and (min-width: 769px) {
	nav {position: sticky; top: 0;z-index: 1;display: flex;}
	.menu-js {display: block;}
	ul.menu-html, ul.menu-js {list-style-type: none;padding: 0;margin:0;}
	.menu-html li, .menu-js li {float: left;margin: 0 0 0 15px;}
	.menu-html li:first-child, .menu-js li:first-child {margin: 0;}
	.menu-html a, .menu-js a {text-decoration: none;font-size: 90%;}
	h2:before {content: "<SUBDIR> ";font-size: 70%;}
	h2:after {content: ;}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	/*resolution testheader h1 a {color: blue;}*/
	header {width: 100%;display: inline-block;}
	.big {display: none;}
	nav {width: 100%;display: table;}
	nav * {width: 100%;}
	#menu-button {display: initial;color: black; background: white;}
	ul.menu-html, ul.menu-js {display: none;}
	ul.menu-html, .menu-show {list-style-type: none;padding: 0;margin:0;}
	.menu-html li, .menu-show li {margin: 0;text-align: center;}
	.menu-html a, .menu-show a {margin-top: 1%; margin-bottom: 1%; padding: 2% 0;text-decoration: none;display: inline-block;}
	nav:hover .menu-html, ul.menu-show {display: block;}
	.bottom-p {display: none;}
}

@media screen and (max-width: 480px) {
	/*resolution test header h1 a {color: green;}*/
	.dir {display: none;}
	nav {width: 100%;display: table;}
	nav * {width: 100%;}
	#menu-button {display: initial;color: black; background: white;}
	ul.menu-html, ul.menu-js {display: none;}
	ul.menu-html, .menu-show {list-style-type: none;padding: 0;margin:0;}
	.menu-html li, .menu-show li {margin: 0;text-align: center;}
	.menu-html a, .menu-show a {margin-top: 5%;margin-bottom: 5%;text-decoration: none;display: inline-block;}
	nav:hover .menu-html, ul.menu-show {display: block;}

	footer {padding-right: 1px;}
	#footer-brands-icons {float: right;}
	li a:before {content: none;}
	li a:after {content: none;}

	.big, .mid-big, .bottom-p {display: none;}
}