* {font-family: Lato, Share Tech Mono, Lucida Console;color: white;background-color: black;}

.nc {display: none;}

hr{margin: 0 0;}

body {margin: 1px;}
header {border-bottom: solid white 1px;}
header * {font-family: Audiowide;text-align: center;margin: 0;}
header a {text-decoration: none;}
/*do testów rozdzielczości*/
header h1 a {color: orange;}
#menu-button {display: none;}

nav {position: sticky; top: 0;z-index: 1;border-bottom: 1px solid white;display: flex;}
.dropdown {display: none;}
.menu-selected::before{content: "<";}
.menu-selected::after{content: "/>";}


article/*, section*/{clear: both;padding: 5px 0 0 0;overflow: auto;height: auto;}

#iframe-left {display: none;}

.dir:before {content: "<";}
.dir:after {content: ">";}

h2:before {content: "<SUBDIR> ";font-size: 70%;}
h2:after {content: ;}

h3.clickable {cursor: pointer;}

.subdir-visible-hidden {display: none;}
.subdir-hidden-visible {display: unset;}

.h3-p-list {margin-left: 3%;}

#display_hidden {visibility: hidden;}

/*ul {padding: 0 0;margin: 0 0;list-style-type: none;}
ul li, nav a {float: left;}
ul li a, nav a {display: block;padding: 0px 0px 0px 10px;}*/

ul.menu {list-style-type: none;padding: 0;margin:0;}
.menu li {float: left;margin: 0 0 0 15px;}
.menu li:first-child {margin: 0;}
.menu a {text-decoration: none;}
/*.menu a:link {text-decoration: none;}
.menu a:visited {text-decoration: none;}
.menu a:hover {text-decoration: none;}
.menu a:active {text-decoration: none;}
.menu a:focus {text-decoration: none;}*/

p {margin: 1px;}
h3#zero{counter-reset: licznik;}
h3#zero:before{content: "[0] "}
h3#other::before{counter-increment: licznik;content: "[" counter(licznik) "] ";}
p#zero{counter-reset: licznik;}
p#zero:before{content: "[0] "}
p#other::before{counter-increment: licznik;content: "[" counter(licznik) "] ";}

.home{border:solid 1px white;padding-left: 1px;position: fixed;right: 1px;top: 500px;text-decoration: none;}

footer {clear: both;height: auto;color: white;background-color: black;position: fixed;bottom: 0; right: 0;width: 100%;border-top: 1px solid white;}
footer p {margin: 0 0 0 0;}

.menu-content {display: none;z-index: 1;position: absolute;}
.menu-content button {color: black;background-color: white;}
.show {display: initial;}

#button-dos {color:white;background:black;}
#button-dos:hover {color: black;background: white;}
#button-nc {color:white;background-color:blue;}
#button-nc:hover {color:white; background: darkturquoise;}

.bottom-p {color: black;background-color: white;}

.skillbar {background-color:black;color:white;text-align:center;z-index: 1;font-family: Audiowide;}

.home{bottom: px;}

@media screen and (max-width: 768px) {
	/*do testów rozdzielczości*/header h1 a {color: blue;}
	header {width: 100%;display: inline-block;}
	header * {font-size: 95%;}
	.big {display: none;}
	nav {width: 100%;display: table;}
	nav * {display: block;width: 100%;}
	#menu-button {display: initial;color: black; background: white;}
	ul.menu {display: none;}
	ul.menu {list-style-type: none;padding: 0;margin:0;}
	.menu li {margin: 0;text-align: center;}
	.menu a {text-decoration: none;}
	nav:hover .menu {display: initial;}
	#nav-dimension:hover .menu {display: none;}
	ul.show {display: block;}
	/**/
}

@media screen and (max-width: 480px) {
	/*do testów rozdzielczości*/header h1 a {color: green;}
	header {text-align: left;height: auto;}
	header h1 {font-size: 125%;height: auto;margin: 1px 1px;}
	nav {border-bottom: none;}
	h2{margin: 1px 1px;}
	h3{margin: 1px 1px;}
	.menu{margin: 1px 1px;}
	.dir {display: none;}
	ul {padding: 0 0;float: left;}
	ul li {padding: 0 0;clear: left;}
	ul li a {padding: 0px 0px 0px 10px;}
	iframe{float: left;width: 430px;}
	p {margin: 3px 3px;}
	footer {padding-right: 1px;}
	#footer-brands-icons {float: right;}
	li a:before {content: none;}
	li a:after {content: none;}
	
	.dropdown {display: all;}
	.dropdown {position: relative;display: inline-block;}
	.dropdown-content {display: none;position: absolute;background-color: white;width: 100%;padding: 0 0;z-index: 1;}
	.dropdown:hover .dropdown-content {display: block;}
	.dropdown-content li {}
	.dropdown-content a {color: black;background-color: white;display: block;padding: 0px 10px 0px 10px;text-decoration: none;}
	.mid-big {display: none;}

	.footer-margin
	.bottom-p {display: none;}
}