.navbar {background: url(../img/246975_tlo_deski_02.jpg) fixed;background-size: cover;}
.navbar-brand-style {font-size: 200%;font-family: 'Caveat', cursive;}
.frame {background-image: linear-gradient(-90deg, orange, white, orange);}

@media screen (min-width: 480px) {
	iframe {width: 470px;}
}

@media screen (min-width: 575px) {

}

@media screen (min-width: 768px) {
	iframe {width: 470px;}
}

@media (min-width: 992px) {
	#main-container {background: url(../img/67824_dojrzale_pomarancze.jpg) fixed;background-size: cover;}
	#big-image-header {background: url(../img/header-bd7161920e9a4835a7d6649dc53c6ab3.jpg) fixed no-repeat top center;background-size: contain;}
	header h2 {margin-top: 131px;margin-bottom: 131px;text-shadow: 0 0 19px black;font-family: 'Caveat', cursive;}
	iframe {width: 600px;}
}
@media (min-width: 1200px) {
	header h2 {margin-top: 145px;margin-bottom: 145px;text-shadow: 0 0 19px black;font-family: 'Caveat', cursive;}
}