 #main-container {background: url(../img/67824_dojrzale_pomarancze.jpg) fixed;background-size: cover;}
 #big-image-header {background: url(../img/header-bd7161920e9a4835a7d6649dc53c6ab3.jpg) fixed no-repeat top center;background-size: contain;}
 header h2 {margin-top: 146px;margin-bottom: 145px;text-shadow: 0 0 19px black;font-family: 'Caveat', cursive;}
 .navbar > a {text-shadow: 0 0 9px black;font-size: 110%;font-family: 'Caveat', cursive;}

iframe {width: 600px;}
.frame {background-image: linear-gradient(-90deg, orange, white, orange);}

@media screen (max-width: 768px) {
	iframe {width: 470px;}
}

@media screen (max-width: 575px) {

}

@media screen (max-width: 480px) {
	iframe {width: 470px;}
}